<html>
  <head>
    <script type="text/javascript" src="../../lib/js/ohmRender.js"></script>
  </head>
  <body>
    <H3>Example shows Nested components implementation by ohmRender.js</H3>
    <!-- Root -->
    <div class="page"></div>

     <!-- main.js -->
     <script type="text/javascript">
        function render(app){
            var Root = document.getElementsByClassName("page")[0];
            Root.insertAdjacentHTML('beforeend', app);
        }
        async function initApp($w) {
            var data = { name: "Kunal", age: 23, address: { street: 'Noida lan no 1' }, degree: ['BE', 'MS'], parentData: {"type": "<strong>@Note: </strong>", "description": "With ohmrender.js create multiple sibling component or parent child component relationships" }};
            var templates = {
                "child1": await getTemplate('component/sample6/child1.html'),
                "child2": await getTemplate('component/sample6/child1.1.html'),
                "parent": await getTemplate('component/sample6/parent.html')
            };
            var child1Component = ohmify(templates['child1']);
            var child2Component = ohmify(templates['child2']);
            var parentComponent = ohmify(templates['parent']);
            
            //Exposing to global scope so the it can be accessed to templates present outside of initApp function.
            $w.child1Component = child1Component;
            $w.child2Component = child2Component;
            $w.parentComponent = parentComponent;
            render(parentComponent(data));
        }
        async function getTemplate(url){
            var response = await fetch(url);
            return await response.text();
        }
        initApp(window);
    </script>
     <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        H1{
            margin-bottom: 0px;
        }
        p{
            margin-top: 0px;
        }
        .parent,.child-1,.child-2{
            width: inherit;
            padding:10px;
        }
        .parent{
            background-color:cornsilk;
        }
        .child-2{
            background-color: bisque;
        }
        .child-1{
            background-color: darkcyan;
        }
    </style>
  </body>
</html>
